<div class="hero" id="home">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-sm-12 col-md-6">
                <div class="hero-content">
                    <div class="hero-text">
                        <p>Hey there!</p>
                        <h1>I'm <br> Rupesh Darimisetti</h1>
                        <h2></h2>
                        <div class="typed-text">
                            Front End Developer, opensource contributor, tech enthusiatic, Mechanical Engineering
                        </div>
                    </div>
                    <div class="hero-btn">
                        <a href="#contact" class="btn">Contact Me</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 d-md-block">
                <div class="hero-image">
                    <img src="../../../assets/img/hero.webp" alt="Hero Image"
                        style="height: 300px; width: 300px; object-fit:fill;" />
                </div>
            </div>
        </div>
    </div>
</div>