<div class="portfolio" id="projects">
    <div class="container">
        <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
            <p>Where my dedication goes into</p>
            <h2>My Work</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <ul id="portfolio-filter">
                    <li data-filter="*" class="filter-active">All</li>
                    <li data-filter=".filter-1">Projects</li>
                    <li data-filter=".filter-2">Courses</li>
                    <!-- <li data-filter=".filter-3">Others</li> -->
                </ul>
            </div>
        </div>
        <div class="row portfolio-container">
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-1 wow fadeInUp" data-wow-delay="0.0s">
                <div class="portfolio-wrap">
                    <div class="portfolio-img">
                        <img src="../../../assets/works/teloh.webp" alt="Image" />
                    </div>
                    <div class="overlay">
                        <div class="text">Teloh is a multipage website designed for the hotel managementfor the
                            event web weaverconducted by IIT Bombay in the techfest event.
                        </div>
                    </div>
                    <div class="portfolio-text">
                        <h3>teloh</h3>
                        <a href="https://rupesh-darimisetti.github.io/web-weaver" target="_blank" class="btn"><i
                                class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-1 wow fadeInUp" data-wow-delay="0.2s">
          <div class="portfolio-wrap">
            <div class="portfolio-img">
              <img src="img/works/music.webp" alt="Image" />
            </div>
            <div class="overlay">
              <div class="text">Music Recommendation System based on the emotion from the camera feed using
                TensorFlow.
              </div>
            </div>
            <div class="portfolio-text">
              <h3>Music Recommender</h3>
              <a class="btn" href="https://github.com/CYBORG-NIT-ROURKELA/music-recommendation-system"
                target="_blank"><i class="fa fa-link"></i></a>
            </div>
          </div>
        </div> -->
            <!-- <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-1 wow fadeInUp" data-wow-delay="0.4s">
          <div class="portfolio-wrap">
            <div class="portfolio-img">
              <img src="img/works/concealed-chaos.webp" alt="Image" />
            </div>
            <div class="overlay">
              <div class="text">A website to share the stories of diverse people sharing a common story that
                is their success and failure stories. Made using React, firebase and Node.js
              </div>
            </div>
            <div class="portfolio-text">
              <h3>Concealed Chaos</h3>
              <a class="btn" href="https://github.com/snehaM2210/ConcealedChaos" target="_blank"><i
                  class="fa fa-link"></i></a>
            </div>
          </div>
        </div> -->
            <!-- <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-3 wow fadeInUp" data-wow-delay="0.6s">
          <div class="portfolio-wrap">
            <div class="portfolio-img">
              <img src="img/works/react-firebase.webp" alt="Image" />
            </div>
            <div class="overlay">
              <div class="text">A blog on how to authenticate users using react and firebase.</div>
            </div>
            <div class="portfolio-text">
              <h3>Blog on Authentication</h3>
              <a class="btn" href="https://commudle.com/labs/how-to-authenticate-users-using-react-and-firebase"
                target="_blank"><i class="fa fa-link"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-3 wow fadeInUp" data-wow-delay="0.8s">
          <div class="portfolio-wrap">
            <div class="portfolio-img">
              <img src="img/works/event.webp" alt="Image" />
            </div>
            <div class="overlay">
              <div class="text">A session where I spoke about introduction to opensource, git and github.
              </div>
            </div>
            <div class="portfolio-text">
              <h3>Introduction to opensource</h3>
              <a class="btn" href="https://youtu.be/QZ8HqtfHn2Y" target="_blank"><i class="fa fa-link"></i></a>
            </div>
          </div>
        </div> -->
            <!-- <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-1 wow fadeInUp" data-wow-delay="1s">
          <div class="portfolio-wrap">
            <div class="portfolio-img">
              <img src="img/works/sirius.webp" alt="Image" />
            </div>
            <div class="overlay">
              <div class="text">A multipage website used for 
              </div>
            </div>
            <div class="portfolio-text">
              <h3>WEB WEAVER</h3>
              <a class="btn" href="https://github.com/Rupesh-Darimisetti/web-weaver" target="_blank"><i
                  class="fa fa-link"></i></a>
            </div>
          </div>
        </div> -->
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-2 wow fadeInUp" data-wow-delay="1s">
                <div class="portfolio-wrap">
                    <div class="portfolio-img">
                        <img src="../../../assets/works/cloud.webp" alt="Image" />
                    </div>
                    <div class="overlay">
                        <div class="text">List of all quests and skill badges completed in qwiklabs.</div>
                    </div>
                    <div class="portfolio-text">
                        <h3>Qwiklabs profile</h3>
                        <a class="btn"
                            href="https://www.qwiklabs.com/public_profiles/51baa482-75dd-4ad4-b370-f1f1b99448e6"
                            target="_blank"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-2 wow fadeInUp" data-wow-delay="1s">
                <div class="portfolio-wrap">
                    <div class="portfolio-img">
                        <img src="../../../assets/works/ace.webp" alt="Image" />
                    </div>
                    <div class="overlay">
                        <div class="text">Architecting with google compute engine specialization course offerered as
                            part of ACE certification training.
                        </div>
                    </div>
                    <div class="portfolio-text">
                        <h3>Coursera ACE</h3>
                        <a class="btn" href="https://coursera.org/share/0b3f781f65505153375b02fab1b99cff"
                            target="_blank"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-2 wow fadeInUp" data-wow-delay="1s">
                <div class="portfolio-wrap">
                    <div class="portfolio-img">
                        <img src="../../../assets/works/learn.webp" alt="Image" />
                    </div>
                    <div class="overlay">
                        <div class="text">Microsoft Learn profile with list of learn paths and modules completed i.e.
                            badges and trophies earned.
                        </div>
                    </div>
                    <div class="portfolio-text">
                        <h3>Microsoft Learn profile</h3>
                        <a class="btn" href="https://docs.microsoft.com/en-us/users/rupeshdarimisetti-3924/achievements"
                            target="_blank"><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 portfolio-item filter-2 wow fadeInUp" data-wow-delay="1s">
                <div class="portfolio-wrap">
                    <div class="portfolio-img">
                        <img src="../../../assets/works/Sololearn_logo.webp" alt="Image" />
                    </div>
                    <div class="overlay">
                        <div class="text">Sololearn Learn profile with list of learn paths and modules completed i.e.
                            badges and certificates earned.
                        </div>
                    </div>
                    <div class="portfolio-text">
                        <h3>solo Learn profile</h3>
                        <a class="btn" href="https://www.sololearn.com/profile/17640045" target="_blank"><i
                                class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>