<mat-toolbar color="primary" class="mat-elevation-z6">
    <span routerLink=""><mat-icon>person</mat-icon> Rupesh Darimisetti</span>
    <div class="spacer"></div>
    <a mat-button routerLink=""><mat-icon>home</mat-icon></a>
    <a mat-button routerLink="about">About</a>
    <a mat-button routerLink="skills">Skills</a>
    <a mat-button routerLink="experience">Experience</a>
    <a mat-button routerLink="inspiration">Inspiration</a>
    <a mat-button routerLink="work">Work</a>
    <a mat-button routerLink="contact">Contact</a>

</mat-toolbar>
<router-outlet></router-outlet>