<div class="service" id="service">
    <div class="container">
        <div class="section-header-dark text-center wow zoomIn" data-wow-delay="0.1s">
            <p>What do I have</p>
            <h2>Awesome Skills</h2>
        </div>
        <div class="row">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.0s">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-laptop"></i>
                    </div>
                    <div class="service-text">
                        <h3>Programming Languages</h3>
                        <p>Basic knowledge in C, C++, java and python.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-laptop-code"></i>
                    </div>
                    <div class="service-text">
                        <h3>Web Development</h3>
                        <p>
                            Mainly focused on frameworks like Angular, React.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.4s">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-cloud"></i>
                    </div>
                    <div class="service-text">
                        <h3>Cloud computing</h3>
                        <p>
                            Specialized in architecting with google compute engine with knowledge in google cloud
                            platform.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.6s">
                <div class="service-item">
                    <div class="service-icon">
                        <i class="fa fa-cogs"></i>
                    </div>
                    <div class="service-text">
                        <h3>Mechanical Engineering</h3>
                        <p>
                            An Mechanical Engineering student with interest in Tools and working principle of machines.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>