<div class="experience" id="experience">
    <div class="container">
        <header class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
            <p>What develops me</p>
            <h2>My Experience</h2>
        </header>
        <div class="timeline">
            <div class="timeline-item left wow slideInLeft" data-wow-delay="0.1s">
                <div class="timeline-text">
                    <div class="timeline-date">Nov 2021 - DEC 2021</div>
                    <h2>Web developer</h2>
                    <h4>teloh - website for hotel</h4>
                    <p>
                        i have worked on creating a web application for hotel management.
                    </p>
                </div>
            </div>
        </div>
        <div class="timeline">
            <div class="timeline-item right wow slideInRight" data-wow-delay="0.1s">
                <div class="timeline-text">
                    <div class="timeline-date">JUNE 2019 - NOV 2019</div>
                    <h2>Industrial Training</h2>
                    <h4>Rashtriya Ispat Nigam Limited (RINL)</h4>
                    <p>
                        I have done 6 months internship in Rashtriya Ispat Nigam Limited Steel Plant, Visakhapatnam
                        (RINL)
                        in the Medium Merchant and Structual Mills(MMSM) learning cnc machine basics and working of it
                        and
                        visited various departments in steel plant to gain knowledge how they work and got an idea of
                        how
                        the flow of production of steel is produced
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>